{% extends "base.html" %}
{% load static %}


{% block content %}
<div>
<h1 class="text-center faq"> Frequently Asked Questions </h1>

<h3 class="question">1. What sets The FitFuel Depot apart from other supplement shops? </h3>

<p class="answer">At The FitFuel Depot, we prioritize quality and customer satisfaction. We curate a diverse range of premium supplements from trusted brands to ensure you have access to the best products on the market. Our knowledgeable team is passionate about fitness and is always ready to provide personalized guidance and support.</p>

<h3 class="question">2. How do I determine which supplements are right for me?</h3>
<p class="answer">Choosing the right supplements depends on your individual goals and needs. We recommend consulting with a healthcare professional or our knowledgeable staff who can help you navigate through our selection and recommend the best options based on your specific requirements.</p>

<h3 class="question">3. Are your products safe and tested?</h3>

<p class="answer">Absolutely! We prioritize the safety and quality of our products. All supplements available at The FitFuel Depot undergo rigorous testing to ensure they meet the highest industry standards. We partner with reputable brands that prioritize quality control and adhere to strict manufacturing practices.</p>

<h3 class="question">4. Can I return or exchange a product if I'm not satisfied?</h3>

<p class="answer">Yes, we offer a hassle-free return and exchange policy. If you are not completely satisfied with your purchase, please contact our customer service within [X] days of receiving your order. We'll be happy to assist you in processing a return or exchange, provided the product meets our return policy criteria.</p>

<h3 class="question">5. Do you offer international shipping?</h3>

<p class="answer">Currently, we only offer shipping within [Country/Region]. However, we are actively exploring options to expand our shipping services internationally. Stay tuned for updates on our website or reach out to our customer service for more information.</p>

<h3 class="question">6. How long does shipping take?</h3>

<p class="answer">We strive to process and ship orders as quickly as possible. Typically, you can expect your order to be shipped within [X] business days. The estimated delivery time will depend on your location and chosen shipping method. Once your order is dispatched, you will receive a confirmation email with tracking details.</p>

<h3 class="question">7. What payment methods do you accept?</h3>

<p class="answer">We accept a variety of payment methods, including major credit cards (Visa, Mastercard, American Express), PayPal, and Apple Pay. Choose the option that suits you best during the checkout process.</p>

<h3 class="question">8. Are your products suitable for specific dietary needs, such as vegan or gluten-free?</h3>

<p class="answer">Yes, we understand the importance of catering to diverse dietary needs. We offer a wide selection of supplements suitable for various dietary preferences, including vegan, vegetarian, gluten-free, and more. Look for the appropriate filters or labels on our website to find products that meet your specific requirements.</p>

<h3 class="question">9. Can I subscribe to regular deliveries of my favorite supplements?</h3>

<p class="answer">Absolutely! We offer a convenient subscription service that allows you to receive regular deliveries of your chosen products. Simply select the subscription option when adding the item to your cart, choose your desired frequency, and enjoy automatic deliveries without the hassle of reordering.</p>

<h3 class="question">10. How can I contact your customer service team for further assistance?</h3>

<p class="answer">For any questions, concerns, or assistance, our dedicated customer service team is here to help. You can reach us by [phone number], email at [email address], or through the contact form on our website. We strive to respond to all inquiries promptly and provide the support you need.</p>
</div>

{% endblock %}