{% extends "base.html" %}
{% load static %}


{% block content %}
<div>
   
<h1 class="text-center faq"> Frequently Asked Questions </h1>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1. What sets The FitFuel Depot apart from other supplement shops?
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        At The FitFuel Depot, we prioritize quality and customer satisfaction. We curate a diverse range of premium supplements from trusted brands to ensure you have access to the best products on the market. Our knowledgeable team is passionate about fitness and is always ready to provide personalized guidance and support.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          2. How do I determine which supplements are right for me?
        </button>
      </h5>
    </div>

    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Choosing the right supplements depends on your individual goals and needs. We recommend consulting with a healthcare professional or our knowledgeable staff who can help you navigate through our selection and recommend the best options based on your specific requirements.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          3. Are your products safe and tested?
        </button>
      </h5>
    </div>

    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Absolutely! We prioritize the safety and quality of our products. All supplements available at The FitFuel Depot undergo rigorous testing to ensure they meet the highest industry standards. We partner with reputable brands that prioritize quality control and adhere to strict manufacturing practices.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          4. Can I return or exchange a product if I'm not satisfied?
        </button>
      </h5>
    </div>

    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Yes, we offer a hassle-free return and exchange policy. If you are not completely satisfied with your purchase, please contact our customer service within 14 days of receiving your order. We'll be happy to assist you in processing a return or exchange, provided the product meets our return policy criteria.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
          5. Do you offer international shipping?
        </button>
      </h5>
    </div>

    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Currently, we only offer shipping within Ireland. However, we are actively exploring options to expand our shipping services internationally. Stay tuned for updates on our website or reach out to our customer service for more information.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          6. How long does shipping take?
        </button>
      </h5>
    </div>

    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        We strive to process and ship orders as quickly as possible. Typically, you can expect your order to be shipped within 2 business days. The estimated delivery time will depend on your location and chosen shipping method. Once your order is dispatched, you will receive a confirmation email with tracking details.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
          7. What payment methods do you accept?
        </button>
      </h5>
    </div>

    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        We accept a variety of payment methods, including major credit cards (Visa, Mastercard). Choose the option that suits you best during the checkout process.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
          8. How can I contact your customer service team for further assistance?
        </button>
      </h5>
    </div>

    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        For any questions, concerns, or assistance, our dedicated customer service team is here to help. You can reach us by [phone number], email at [email address], or through the contact form on our website. We strive to respond to all inquiries promptly and provide the support you need.
      </div>
    </div>
  </div>
</div>


{% endblock %}