{% extends "base.html" %}
{% load static %}



{% block content %}
<div class="container-fluid header-container hero">
    <div class="row h-100 ">
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                Check out our Shop
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="my-3 text-center">Welcome to Fitfuel Depot
                <i class="fas fa-heart"></i>
            </h2>
            <hr>
        </div>
    </div>
    <br>
    <div class="welcome-text">
     <h5> Welcome to The FitFuel Depot, your ultimate destination for all things health and fitness! 
        We are thrilled to introduce ourselves as your one-stop shop for premium supplements and nourishment
        to fuel your active lifestyle. At The FitFuel Depot, we believe in the power of optimal nutrition and its transformative 
        impact on your fitness journey.
     </h5>
      <hr>
    
      <h5> Our mission is to provide you with a wide range of top-quality supplements that are carefully selected to meet 
        your individual needs and goals. Whether you're a dedicated athlete, a fitness enthusiast,
         or someone looking to enhance their overall well-being, we've got you covered.
      </h5>
      <hr>
      <h5> At The FitFuel Depot, we prioritize your satisfaction and convenience. 
        With our easy-to-navigate online platform and prompt shipping services, 
        you can enjoy a hassle-free shopping experience from the comfort of your own home. 
        We are committed to providing exceptional customer service and building lasting relationships with our valued customers.</h5>
    </div>
</div>


{% endblock %}
