{% extends "base.html" %}
{% load static %}


{% block content %}
<div class ="container-fluid">
  <div class = "faq-pic">
      <div class="col-7 col-md-6 my-auto">
        <h1 class="display-4 logo-font text-black faq"> About Us </h1>
      </div>
  </div>
  <div class="welcome-text card">
    <h5> Welcome to The FitFuel Depot, your ultimate destination for all things <strong>health</strong> and <strong>fitness!</strong> 
       We are thrilled to introduce ourselves as your one-stop shop for <strong>premium supplements </strong>and nourishment
       to fuel your <strong>active lifestyle.</strong> At The <em>FitFuel Depot,</em> we believe in the power of <strong>optimal nutrition</strong> and its transformative 
       impact on your<strong> fitness journey.</strong>
    </h5>
     <hr>
   
     <h5> Our mission is to provide you with a wide range of <strong>top-quality supplements</strong> that are carefully selected to meet 
       your individual needs and goals. Whether you're a dedicated athlete, a fitness enthusiast,
        or someone looking to enhance their overall well-being, we've got you covered.
     </h5>
     <hr>
     <h5> At The <em>FitFuel Depot</em>, we prioritize your satisfaction and convenience. 
       With our easy-to-navigate online platform and prompt shipping services, 
       you can enjoy a hassle-free shopping experience from the comfort of your own home. 
       We are committed to providing exceptional customer service and building lasting relationships with our <em>valued customers.</em></h5>
   </div>
</div>


{% endblock %}